body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
  text-align: left;
}
form {
  display: flex;
  width: 15rem;
  justify-content: space-evenly;
}
input {
  width: 70%;
  margin-right: 2%;
  border-radius: 8px;
}
.btn {
  background-color: #482ff7;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;

  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.btn:hover,
.btn:focus {
  background-color: #240eb1d5;
}
